<component name="libraryTable">
  <library name="spring-orm-3.1.2.RELEASE">
    <CLASSES>
      <root url="jar:///soi/lib/contents/spring-orm/3.1.2.RELEASE/jar/spring-orm-3.1.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar:///soi/lib/contents/spring-orm/3.1.2.RELEASE/source/spring-orm-3.1.2.RELEASE.jar!/" />
    </SOURCES>
  </library>
</component>