<component name="libraryTable">
  <library name="spring-data-commons-core-1.3.2.RELEASE">
    <CLASSES>
      <root url="jar:///soi/lib/contents/spring-data-commons-core/1.3.2.RELEASE/jar/spring-data-commons-core-1.3.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar:///soi/lib/contents/spring-data-commons-core/1.3.2.RELEASE/source/spring-data-commons-core-1.3.2.RELEASE.jar!/" />
    </SOURCES>
  </library>
</component>